/* ------------------------ Footer ------------------------ */
.copyright {
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: black;
    color: #fff;
    margin-top: auto;
    position:absolute;
    bottom: 0;
    font-size: 12px;
}

.footer-images {
    position: absolute;
    right: 5px;
}

.about-link{
    position: absolute;
    left: 5px;
}
