/* ------------------------ General ------------------------ */
html{
    margin: 0;
}

body {
    margin: 0;
    /*min-height: 400px;
    min-width: 400px;*/
    font-family: 'Open Sans', Arial, sans-serif;
}

a{
    color:red;
}