.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 60vh;
    padding-bottom: 5px;
}

.search-input{
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 40px;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    height: 40px;
}

.logo-img{
    height: 260px;
    max-width: 100vw;
}

html, body {
    margin: 0;
}

.copyright {
    display: flex;
    height: 37px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: black;
    color: #fff;
    margin-top: auto;
    position:absolute;
    bottom: 0;
}

.footer-images {
    position: absolute;
    right: 5px;
}

.home-description {
    margin-top: 3px;
    color: #999;
    font-size: 16px;
}

a{
    color:red;
}