.graphContainer {
    position: relative; 
    height: 96%; 
    width: 96%;
    border: 1px solid black;
}

.results{
    width: 100%;
    height:100%;
    clear:both;
}

.results-info{
    text-align: center; 
    width: 50%; 
    height: 1000px; 
    float: left;   

}

.results-graph{
    text-align: center;
    margin-left: 50%;
    height: 1000px;
    width: 50%;
}

.iframe-wiki{
    position: relative; 
    height: 96%; 
    width: 96%;
    border: 1px solid black;
    margin-left: 8px;
}

.search-top{
    height: 120px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.rdfsim-logo-img{
    height: 100px;
    max-width: 100vw;
}

.search-div{
    float: left;
    margin-top: 40px;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 40px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    height:26px;
}

.search-input{
    border: none;
    font-size: 20px;
    outline: 0;
    margin-left: 10px;
    display: inline-block;
    height:26px;
}

.search-form{
    float: left;
}

.rdfsim-logo{
    position: relative;
    float: left;
    margin: 5px;
}

a{
    color:red;
}

.copyright {
    clear:both;
    display: flex;
    height: 37px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: black;
    color: #fff;
    margin-top: auto;
    position:relative;
    bottom: 0;
    font-size: 14px;
}

.footer-images {
    position: absolute;
    right: 5px;
}

html{
    margin: 0;
} 

body {
    margin: 0;
    min-height: 400px;
    min-width: 400px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.search-button {
    color: #900;
    font-weight: bold;
    width: 28px;
    height: 28px;
    border: none;
    padding: 0;
    background: none;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;

}

.search-button img {
    vertical-align: middle;
    cursor: pointer;
}

.settings-button{
    float:right;
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    /*margin-top : 80px;*/
    margin-right:20px;
}

.settings-button img{
    vertical-align: middle;
    cursor: pointer;
}

.settings-config{
    background: gray;
}

.settings-button-graph{
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    cursor: pointer;
}

.settings-button-info{
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    cursor: pointer;
}

.settings-button-info-container{
    text-align: center; 
    width: 49%; 
    float: left;   
}

.settings-button-graph-container{
    text-align: center;
    margin-left: 50%;
    width: 49%; 
}

.graph-conf{
    display: none;
}

.info-conf{
    display: none;
}

.triple-table{
    display: none;
    position: relative; 
    height: 96%; 
    width: 96%;
    margin-left: 8px;
    table-layout: fixed;
    overflow-y: scroll;
    overflow-x: scroll;    
    border: 1px solid black;
}
