#graphContainer {
    width: 750px;
    height: 750px;
    border: 1px solid black;
    display: none;
}

.center-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
}

.results{
    width: 100%;
}

.results-info{
    text-align: center; 
    width: 50%; 
    height: 900px; 
    float: left; 
    background: gray;
}

.results-graph{
    text-align: center;
    margin-left: 50%;
    height: 900px;
    background: lightblue;
}

.iframe-wiki{
    position: relative; 
    height: 100%; 
    width: 100%;
}